---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'

import AboutEntry from '../components/AboutEntry.astro'
import Contacts from '../components/Contacts.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import { AvatarPath } from '../components/Constants'
import ContactCTA from '../components/ContactCTA.astro'
import Hero from '../components/Hero.astro'

const aboutEntries = (await getCollection('about')).sort((a, b) => a.data.index - b.data.index)
---

<BaseLayout title="About | 4lch4" description="About 4lch4/Devin W. Leaman">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="I'm just some dude who likes making and fixing things, but you can learn more than that below.">
        <Image src={AvatarPath} alt="4lch4's Standard Avatar" width="500" height="500" />
      </Hero>

      {
        aboutEntries.map((entry) => (
          <AboutEntry about={entry} />
        ))
      }

      <section>
        <Contacts />
      </section>

    </main>
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .contacts {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 0.5rem; */
  }

  .contacts p {
    padding: 1rem;
    /* width:; */
    /* margin-right: 1rem;
    margin-top: 1rem; */

    margin: 0.5rem;

    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    /* border-left: 1px solid var(--gray-800);
    border-right: 1px solid var(--gray-800); */
  }

  .contacts i {
    margin-right: 0.5rem;
  }

  img {
    margin: 1.5rem auto auto auto;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
