---
import { Image } from 'astro:assets'

import BaseLayout from '../layouts/BaseLayout.astro'
import { AvatarPath } from '../components/Constants'
import ContactCTA from '../components/ContactCTA.astro'
import Hero from '../components/Hero.astro'
---

<BaseLayout title="About | 4lch4" description="About 4lch4/Devin W. Leaman">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="I'm just some dude who likes making and fixing things, but you can learn more than that below.">
        <Image src={AvatarPath} alt="4lch4's Standard Avatar" width="500" height="500" />
      </Hero>

      <section>
        <h2 class="section-title">Beginning</h2>
        <div class="content">
          <p>
            I started my journey into programming in 2009, when I was 14 and took a class on GIS in
            high school. My teacher, Mr. Shin, taught the class in an unusual way by using Visual
            Basic to visualize data from <a href="https://arcgis.com" target="_blank">ArcGIS</a>.
          </p>
          <br />
          <p>
            I then went to the
            <a href="https://uafs.edu" target="_blank">University of Arkansas at Fort Smith</a>
            and initially majored in <strong>Information Technology - Networking</strong>. After one
            year of that, I realized Networking was not for me so I switched to
            <strong>Information Technology - Programming</strong> and graduated in 2015.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">First Job</h2>

        <div class="content">
          <p>
            After getting my degree I moved to Benicia, CA and worked at
            <a href="https://www.sapien.com" target="_blank">SAPIEN Technologies, Inc.</a> as a
            <strong>Jr. Software Test Engineer</strong> for a couple years. While there I was responsible
            for testing all new builds of
            <a href="https://www.sapien.com/software" target="_blank">our suite of products</a>, in
            a variety of environments, converting the company iOS app to Android, and providing
            support for customers via the forums & premium support tickets.
          </p>

          <br />

          <p>
            For example, for every new build of a product I would test our software on both 32 &
            64-bit iterations of Windows 7, 8, 10. This was before I knew much about writing tests
            so I performed these tests manually using a desktop with a hard drive for each OS.
          </p>

          <br />

          <p>
            Aside from testing software and providing support to customers, I also converted the
            company's iOS app,
            <a href="https://www.sapien.com/legacy/ipowershell" target="_blank">iPowerShell</a>, to
            Android. This was my first Android app I'd ever built and I learned a boat load about
            Java, Android, and the Android ecosystem.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">J.B. Hunt</h2>

        <div class="content">
          <p>
            After working at SAPIEN for a few years I moved back to Arkansas to be closer to family
            and started a job at
            <a href="https://www.jbhunt.com" target="_blank">J.B. Hunt</a>. It's no exaggeration to
            say I learned the most about everything involved with software development at an
            enterprise level while I worked there.
          </p>
          <!-- I was a contract-to-hire
            employee that worked the night shift (18:00 - 06:00) as a <strong>NOC Engineer</strong>
            for just under a year before being hired on full-time. -->
          <br />

          <p>
            I started as a contractor who worked the night shift (18:00 - 06:00) on Wednesday -
            Friday/Saturday as a <strong>NOC Engineer</strong>. Because of how my shift was
            scheduled I was the NOC Engineer on duty when we did our monthly release cycle. This
            meant I was interfacing with all of our development teams on a regular basis to help
            improve their deployment processes.
          </p>

          <br />

          <p>
            Because of my experience with
            <a href="https://github.com/PowerShell/PowerShell" target="_blank">PowerShell</a>, and
            the fact our <a href="https://jenkins.io" target="_blank">Jenkins</a> server lived off custom
            built PowerShell scripts, I became the de facto Jenkins admin for any issues it had. This
            was a great opportunity for me to learn more about Jenkins,
            <a href="https://groovy-lang.org" target="_blank">Groovy</a>, and automation at scale in
            general. While working overnight I would work directly with our overseas development
            team to help with any issues they faced when deploying via Jenkins.
          </p>

          <br />

          <p>
            After being hired on full-time I was moved to a more standard day shift schedule,
            working Monday - Friday (09:00 - 17:00) where I began to do more and more DevOps related
            tasks. I was responsible for working with our CICD team to maintain Jenkins, write new
            pipelines, and help with any issues that arose. I also worked with our development teams
            to help them write better tests, improve their deployment processes, and automate
            anything that could be automated.
          </p>

          <br />

          <p>
            To sum up, my time at J.B. Hunt was the greatest learning experience I've ever had, and
            I'm grateful for all of the things I was responsible for and worked on while I was
            there. The following provides highlights of my time while there:
            <br />
            <br />

            <ul>
              <li>
                Maintaining the infrastructure for our installations of
                <a href="dynatrace.com" target="_blank">Dynatrace</a> and
                <a href="http://extrahop.com" target="_blank">ExtraHop</a>.
              </li>
              <ul>
                <li>
                  Dynatrace was hosted on a cluster of 3 primary servers with 10+ extra servers for
                  various services.
                </li>
                <li>
                  ExtraHop was hosted on a special beast of a machine that connected to over 50+
                  "sensor" servers.
                </li>
              </ul>

              <li>Working with the CICD team:</li>
              <ul>
                <li>
                  Build pipelines in
                  <a href="https://dev.azure.com" target="_blank">Azure DevOps</a>, as well as write
                  custom scripts that would be used by all of the development teams during their
                  deployment process.
                </li>
                <li>
                  Maintained our installation of Jenkins, wrote new scripts for deploying to new
                  systems.
                </li>
                <li>
                  Maintained old scripts responsible for deploying legacy applications to legacy
                  systems.
                </li>
              </ul>

              <li>
                Working with the SRE team to create a custom scorecard system for all of the
                applications and services across the enterprise.
              </li>
              <ul>
                <li>
                  This was a collection of batch/cron jobs that would gather metrics and display
                  them using PowerBI.
                </li>
                <li>
                  I built it alongside a new member of the SRE team and then when it was complete I
                  handed it off to them to maintain.
                </li>
                <ul>
                  <li>
                    I worked with that SRE team member for a couple months to ensure things
                    transitioned smoothly before moving on to other tasks.
                  </li>
                </ul>
              </ul>
            </ul>
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Liatrio</h2>

        <div class="content">
          <p>
            After working for J.B. Hunt, I wanted something more DevOps focused instead of working
            DevOps on the side. Thankfully, one of my previous coworkers at J.B. Hunt had moved to a
            company called <a href="https://www.liatrio.com" target="_blank">Liatrio</a> and was able
            to get me an interview. I was hired on as a <strong>DevOps Engineer/Consultant</strong> and
            initially worked on the GitHub Practice team.
          </p>

          <br />

          <p>
            As part of the GitHub Practice team we were responsible for working with clients that
            wanted to migrate to GitHub Enterprise from other platforms. This meant migrating entire
            systems such as Azure DevOps, TargetProcess, etc., to GitHub Enterprise. We would also
            help clients with their CICD pipelines, writing new pipelines, and helping them with any
            issues they faced along the way.
          </p>
        </div>
      </section>

      <!-- <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            <strong>University of Arkansas at Fort Smith</strong> (<a
              href="https://uafs.edu"
              target="_blank">uafs.edu</a
            >)
          </p>
          <p>B.S. Information Technology — Programming</p>
          <p>2011 — 2015</p>
        </div>
      </section> -->

      <section>
        <h2 class="section-title">Contacts</h2>
        <div>
          <div class="contacts">
            <p>
              <i class="fa-solid fa-envelope"></i><a href="mailto:hey@4lch4.email" target="_blank"
                >hey@4lch4.email</a
              >
            </p>
            <p>
              <i class="fa-brands fa-github"></i><a href="https://github.com/4lch4" target="_blank"
                >github.com/4lch4</a
              >
            </p>
            <p>
              <i class="fa-brands fa-twitter"></i><a
                href="https://twitter.com/4lch4"
                target="_blank">twitter.com/4lch4</a
              >
            </p>
          </div>

          <div class="contacts">
            <p>
              <i class="fa-brands fa-discord"></i><a
                href="https://discord.gg/z7HkTVmgyR"
                target="_blank">@4lch4</a
              >
            </p>
            <p>
              <i class="fa-brands fa-linkedin"></i><a
                href="https://linkedin.com/in/4lch4"
                target="_blank">linkedin.com/in/4lch4</a
              >
            </p>
            <p>
              <i class="fa-brands fa-telegram"></i><a href="https://t.me/dleaman" target="_blank"
                >t.me/dleaman</a
              >
            </p>
          </div>

          <div class="contacts">
            <!-- https://dev.to/4lch4 -->
            <p>
              <i class="fa-brands fa-dev"></i><a href="https://dev.to/4lch4" target="_blank"
                >dev.to/4lch4</a
              >
            </p>

            <!-- https://steamcommunity.com/id/4lch4 -->
            <p>
              <i class="fa-brands fa-steam"></i><a
                href="https://steamcommunity.com/id/4lch4"
                target="_blank">@4lch4</a
              >
            </p>

            <!-- https://facebook.com/4lch4 -->
            <p>
              <i class="fa-brands fa-facebook"></i><a
                href="https://facebook.com/4lch4"
                target="_blank">facebook.com/4lch4</a
              >
            </p>
          </div>

          <!-- <div class="contacts">
            <p><i class="fa-brands fa-discord"></i><a href="https://discord.gg/z7HkTVmgyR" target="_blank">@4lch4</a></p>
            <p><i class="fa-brands fa-telegram"></i><a href="https://t.me/dleaman" target="_blank">@4lch4</a></p>
          </div> -->
        </div>
      </section>

      <!-- <section>
        <h2 class="section-title">Contact Info Beta</h2>
        <div class="contacts">
          <Pill><i class="fa-solid fa-mail"></i> E-Mail: <a href="mailto:hey@4lch4.email" target="_blank">hey@4lch4.email</a></Pill>
          <Pill><i class="fa-solid fa-brain"></i> Nerd/Weeb</Pill>
          <Pill><i class="fa-solid fa-person"></i> Some Dude</Pill>
        </div>
      </section>
      <section>
				<h2 class="section-title">Skills</h2>
					<div class="skills">
						<Pill><Icon icon="bug" size="1.33em" /> Developer</Pill>
						<Pill><Icon icon="code" size="1.33em" /> DevOps Engineer</Pill>
						<Pill><Icon icon="brain" size="1.33em" /> Consultant</Pill>
					</div>
				<div class="content">
					<p>DevOps Engineering</p>
				</div>
			</section> -->
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .contacts {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 0.5rem; */
  }

  .contacts p {
    padding: 1rem;
    /* width:; */
    /* margin-right: 1rem;
    margin-top: 1rem; */

    margin: 0.5rem;

    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    /* border-left: 1px solid var(--gray-800);
    border-right: 1px solid var(--gray-800); */
  }

  .contacts i {
    margin-right: 0.5rem;
  }

  img {
    margin: 1.5rem auto auto auto;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
