<h2 class="section-title">Contacts</h2>

<div>
  <div class="contacts">
    <p>
      <i class="fa-solid fa-envelope"></i>
      <a href="mailto:hey@4lch4.email" target="_blank">hey@4lch4.email</a>
    </p>
    <p>
      <i class="fa-brands fa-github"></i>
      <a href="https://github.com/4lch4" target="_blank">github.com/4lch4</a>
    </p>
    <p>
      <i class="fa-brands fa-twitter"></i>
      <a href="https://twitter.com/4lch4" target="_blank">twitter.com/4lch4</a>
    </p>
  </div>

  <div class="contacts">
    <p>
      <i class="fa-brands fa-discord"></i>
      <a href="https://discord.gg/z7HkTVmgyR" target="_blank">@4lch4</a>
    </p>
    <p>
      <i class="fa-brands fa-linkedin"></i>
      <a href="https://linkedin.com/in/4lch4" target="_blank">linkedin.com/in/4lch4</a>
    </p>
    <p>
      <i class="fa-brands fa-telegram"></i>
      <a href="https://t.me/dleaman" target="_blank">t.me/dleaman</a>
    </p>
  </div>

  <div class="contacts">
    <!-- https://dev.to/4lch4 -->
    <p>
      <i class="fa-brands fa-dev"></i>
      <a href="https://dev.to/4lch4" target="_blank">dev.to/4lch4</a>
    </p>

    <!-- https://steamcommunity.com/id/4lch4 -->
    <p>
      <i class="fa-brands fa-steam"></i>
      <a href="https://steamcommunity.com/id/4lch4" target="_blank">@4lch4</a>
    </p>

    <!-- https://facebook.com/4lch4 -->
    <p>
      <i class="fa-brands fa-facebook"></i>
      <a href="https://facebook.com/4lch4" target="_blank">facebook.com/4lch4</a>
    </p>
  </div>
</div>

<style>
  .contacts {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 0.5rem; */
  }

  .contacts p {
    padding: 1rem;
    /* width:; */
    /* margin-right: 1rem;
    margin-top: 1rem; */

    margin: 0.5rem;

    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    /* border-left: 1px solid var(--gray-800);
    border-right: 1px solid var(--gray-800); */
  }

  .contacts i {
    margin-right: 0.5rem;
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }
</style>
